<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<typeAliases>-->
    <!--    <typeAlias type="cloudwise.entity.PageBean" alias="pInfo"/>-->
    <!--</typeAliases>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cloudwise?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="qepwq"/>
            </dataSource>
        </environment>
    </environments>
    <!--    映射文件-->
    <mappers>
        <mapper resource="mapper/PersonDaoMapper.xml"/>
    </mappers>
</configuration>